# /apps/prod/gitea/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: gitea

resources:
  - ../../base/gitea
  - secret.enc.yaml
  - robots-configmap.yaml
  - release.yaml
  - ingress.yaml
  # - backup-secret.enc.yaml
  # - backup-schedule.yaml

configMapGenerator:
  - name: gitea-prod-values
    namespace: gitea
    files:
      - values.yaml

configurations:
  - kustomizeconfig.yaml