logs:
  access:
    enabled: true
experimental:
  plugins:
    crowdsec-bouncer-traefik-plugin:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: v1.5.0
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`${TRAEFIK_DOMAIN}`)
    entryPoints: ["websecure"]
    middlewares:
      - name: "auth-authelia@kubernetescrd"
providers:
  kubernetesCRD:
    allowCrossNamespace: true
    allowExternalNameServices: true
    allowEmptyServices: true
persistence:
  enabled: true
  storageClass: retain-local-path
ports:
  websecure:
    http:
      tls:
        enabled: true
      middlewares:
        - "crowdsec-crowdsec-bouncer@kubernetescrd"
  web:
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
service:
  spec:
    externalTrafficPolicy: Local
tlsStore:
  default:
    certificates:
      - secretName: wildcard-main-tls
    defaultCertificate:
      secretName: wildcard-main-tls