# /infrastructure/controllers/traefik/values.yaml
logs:
  access:
    enabled: true
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`${TRAEFIK_DOMAIN}`)
    entryPoints: ["websecure"]
    middlewares:
      - name: "auth-authelia@kubernetescrd"
providers:
  kubernetesCRD:
    allowCrossNamespace: true
    allowExternalNameServices: true
    allowEmptyServices: true
persistence:
  enabled: true
  storageClass: retain-local-path
ports:
  websecure:
    tls:
      enabled: true
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
service:
  spec:
    externalTrafficPolicy: Local
tlsStore:
  default:
    certificates:
      - secretName: wildcard-main-tls
      - secretName: wildcard-homelab-tls
      - secretName: secondary-tls
    defaultCertificate:
      secretName: wildcard-main-tls