# /apps/prod/authelia/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: auth

resources:
  - ../../base/authelia
  - users-database.enc.yaml
  - release.yaml
  - forward-auth-middleware.yaml
  - tailscale-service.yaml

configMapGenerator:
  - name: authelia-prod-values
    namespace: auth
    files:
      - values.yaml

configurations:
  - kustomizeconfig.yaml