# /apps/prod/lemma/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: lemma

resources:
  - ../../base/lemma
  - secret.enc.yaml
  - ingress.yaml

images:
  - name: ghcr.io/lordmathis/lemma
    newTag: v0.6.0