# /infrastructure/configs/cert-manager/certificate.yaml
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-main
  namespace: traefik
spec:
  secretName: wildcard-main-tls
  dnsNames:
    - "${MAIN_DOMAIN}"
    - "*.${MAIN_DOMAIN}"
  issuerRef:
    name: cloudflare-prod
    kind: ClusterIssuer
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-homelab
  namespace: homelab-proxy
spec:
  secretName: wildcard-homelab-tls
  dnsNames:
    - "*.${HOMELAB_DOMAIN}"
  issuerRef:
    name: cloudflare-prod
    kind: ClusterIssuer
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: secondary
  namespace: ghost
spec:
  secretName: secondary-tls
  dnsNames:
    - "${SECONDARY_DOMAIN}"
  issuerRef:
    name: cloudflare-prod-secondary
    kind: ClusterIssuer